main.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100vw;
    height: 100vh;
}

.login > div {
    position: relative;
}

.login > div > .Logo 
{
    position: absolute;
    z-index: 1;
    top: -38px;
    width: 100%;
} 

.login > div > form {
    display: flex; 
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width:fit-content;
    padding: 10px;
    gap: 5px;
    background-color: var(--color6);
    border: 1px solid black;
    border-radius: 0px 0px 15px 15px;
    padding-top: 30px;
}

.login > div > form > span {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 5px;
    box-sizing: border-box;
    padding: 4px;
}

.login > div > form > span > label {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    font-family: var(--font1);
    box-sizing: border-box;
    user-select:none;
    pointer-events:none;
}


.login > div > form input {
    border-radius: 8px;
    padding: 4px;
}

.login > div > form > button {
    display: flex;
    flex-grow: 1;
    width: 100%;
    padding: 5px;
    margin: 0;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    font-family: var(--font1);
    user-select:none;
    background-color: var(--color3);
    border-color: var(--color0);
    /* color: var(--color0); */
    border-radius: 15px;
}

.login > div > form > button:disabled {
    background-color: var(--color0);
    border-color: var(--color3);
    color: var(--color3);
}